.container {
    flex-grow: 1;
    background-color: white;
    overflow: hidden;
    font-size: 14pt;

    display: flex;
    align-items: center;
    --gap: max(0.05em, 2vw);
    gap: var(--gap);
    padding: max(0.1em, 2vh) var(--gap);
}

.end {
    flex: 1 1 15%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 2px;
}

.end:last-child {
    justify-content: flex-end;
}

.end > * {
    max-height: 100%;
    height: auto;
    width: auto;
    max-width: 100%;
}

.logo {
    filter: drop-shadow(4px 4px white);
}

.actionButton {
    background-color: white;
    border-radius: 50%;
    padding: 2px;
}

.actionButton.loading {
    opacity: 50%;
}

.middle {
    color: black;
    text-shadow: 2px 2px white;
    flex: 10 0;
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statusMessage {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    justify-content: center;
}

.volumeControl {
    flex: 3 0 8em;
}

.volumeSlider {
    flex: 0 1 2em;
    width: 100%;
}

.volumeThumb {
    background-color: white;
    border-radius: 50%;
    line-height: 2em;
    width: 2em;
    user-select: none;
    cursor: ew-resize;
    text-align: center;
}

.volumeThumb.active {
    background-color: rgb(141, 199, 141);
}

.volumeTrack {
    background-color:white;
    height: 1em;
    margin: 0.5em;
    border-radius: 1em;
    border: 2px solid black;
    box-shadow: 2px 2px black;
}