.container {
    flex-grow: 1;
    background-color: white;
    overflow: hidden;
    font-size: 14pt;

    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.container > * {
    height: 100%;
    overflow: hidden;
}

.begin, .end {
    height: 100%;
    flex: 1 5 3em;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 2px;
    flex-direction: row;
}

.middle {
    color: black;
    flex: 10 0;
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.end {
    justify-content: flex-end;
}

.begin > *, .end > * {
    max-height: 100%;
    height: auto;
    width: auto;
    max-width: 100%;
}

.actionButton {
    background-color: white;
    border-radius: 50%;
    padding: 2px;
}

.actionButton.loading {
    color: blue; /* Does this ever happen? */
}

.statusMessage {
    display: flex;
    flex: 1 1;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.narrowVolumeContainer {
    flex: 0 0 4em;
    gap: 2em;
}

.volumeContainer {
    flex: 0 0 2em;
}

.narrowVolumeContainer, .volumeContainer {
    padding: 0.5em 1em;
    width: auto;
    display: flex;
    background: black;
    justify-content: center;
    overflow: hidden;
}

.narrowVolumeContainer .actionButton {
    width: 4em;
    height: 4em;
}

.volumeSlider {
    flex: 1 0;
    width: 100%;
    height: auto;
}

.volumeThumb {
    background-color: white;
    border-radius: 50%;
    line-height: 2em;
    width: 2em;
    user-select: none;
    cursor: ew-resize;
    text-align: center;
}

.volumeThumb.active {
    background-color: rgb(141, 199, 141);
}


.narrowVolumeContainer .volumeSlider {
    margin: 1em 1em 1em 0;
}

.volumeTrack {
    background-color:white;
    height: 1em;
    margin: 0.5em;
    border-radius: 1em;
    border: 2px solid black;
    box-shadow: 2px 2px black;
}