.stationList {
    padding: 10px;
    column-count: auto;
    overflow-y: auto;
    display: grid;
}

@media (min-width: 30em) {
    .stationList {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 60em) {
    .stationList {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

.station {
    border: 2px solid black;
    box-shadow: 4px 4px black;
    padding: 10px;
    margin: 5px;
    background-color: white;
    display: flex;
    break-inside: avoid;
    break-after: avoid;
}

.station:hover {
    border-color: #ceaee6;
    cursor: pointer;
}

.logo {
    flex-basis: 4em;
    align-self: center;
    text-align: center;
}

.logo img {
    max-height: 4em;
    width: auto;
    max-width: 4em;
}

.details {
    flex-grow: 1;
    align-self: center;
    padding-left: 15px;
}

.title {
    font-weight: bold;
}

.activeStation {
    background-color:  coral;
}