@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: min(35vh, max(16rem, min(24rem, 25vh)));
  --shadow: 2px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 10pt;
    background: #b5ac9a;
}