[Unit]
Description=MPD.FM
After=mpd.service

[Service]
WorkingDirectory=/home/srv-mpd-fm/mpd-fm/backend
ExecStart=/usr/bin/node dist/server.js
Restart=always
StandardOutput=journal+console
StandardError=journal+console
SyslogIdentifier=mpd-fm
User=srv-mpd-fm
Group=srv-mpd-fm

Environment=NODE_ENV=production

# Details of MPD server (Default: localhost:6600)
Environment=MPD_INSTANCES="Self=localhost:6600"

# Port to serve HTTP (the user needs special permission to serve on 80; default: 4200)
Environment=PORT=4200

[Install]
WantedBy=multi-user.target
