:root {
  --header-height: 15rem;
  --shadow: 2px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 10pt;
}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.root:before {
    position: fixed;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 1000px;
    background: black;
    z-index: 10;
    transform: translate(0, calc(-1000px + (var(--shadow) + var(--header-height))));
}

.header {
    padding-top: env(safe-area-inset-top, 0);
    height: var(--header-height);
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 80rem;
    margin: 0 auto;
}

.content {
    flex: 1 0;
    padding-top: var(--header-height);
}

.footer {
    flex: 0 0;
    color: white;
    background-color: black;
    text-align: center;
    padding: 1rem;
    padding-bottom: calc(1rem + env(safe-area-inset-bottom, 0));
}